body {
    font-size: 1rem;
}

header {
    background: olivedrab;
}

input::placeholder{
    font-size: small;
}

.navbar-expnd-md .navbar-nav .nav-link {
    padding-left: 1rem;
    padding-right: 1rem;
    color: #FFC600
}

.btn-primary {
    background: #507C49;
    border-color: #406C39;
    color: #fff !important;
}

.btn-primary:hover {
    background: #608C59;
    border-color: #406C39;
    color: #fff !important;
}

.img-width {
    width: 100px;
}

.content {
    padding: 2rem 1.5rem;
}

.jumbotron {
    padding-top: 0.2rem;
    padding-left: 1.3rem;
    padding-right: 1.3rem;
    padding-bottom: 0.5rem;
    background: 0;
}

.sign-in-or-create-account{
        padding: 2.5rem;
}

.jumbotron img {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.4), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.deals{
    padding-left: 1.3rem;
}

.card-deck .card {
    margin-bottom: 10px;
    box-shadow: 2px 6px 8px 0 rgba(22, 22, 26, 0.18);
    border: none;
}

.category {
    border-radius: 50%;
   
    padding: 2rem;
}

.card .card-body {
    margin-bottom: 0;
}

.cards-wrapper {
    display: flex;
    justify-content: center;
  }
  .card img {
    max-width: 100%;
    max-height: 100%;
  }

.carousel-control-prev,
.carousel-control-next {
  background-color: #e1e1e1;
  width: 5vh;
  height: 5vh;
  border-radius: 80%;
  top: 50%;
  transform: translateY(-50%);
}


.carousel-item {
    background-image: url('/static/img/background/b1.jpg');
    background-size: cover;
    background-repeat: no-repeat;
}

/* Start of welcome text */

.welcome-text {
    animation: color-animation 4s linear infinite;
}

.title-word-1 {
  --color-1: #DF8453;
  --color-2: #3D8DAE;
  --color-3: #E4A9A8;
}

.title-word-2 {
  --color-1: #DBAD4A;
  --color-2: #ACCFCB;
  --color-3: #17494D;
}

.title-word-3 {
  --color-1: #ACCFCB;
  --color-2: #E4A9A8;
  --color-3: #ACCFCB;
}

@keyframes color-animation {
  0%    {color: var(--color-1)}
  32%   {color: var(--color-1)}
  33%   {color: var(--color-2)}
  65%   {color: var(--color-2)}
  66%   {color: var(--color-3)}
  99%   {color: var(--color-3)}
  100%  {color: var(--color-1)}
}

.title-container {
  display: grid;
  place-items: center;  
  text-align: center;
  height: 15vh
}

.welcome-title {
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  font-size: 3vw;
  text-transform: uppercase;
}

/* End of welcome text */
