{% extends 'base.html' %}
{% block title %}
Cart
{% endblock %}

{% block content %}

<script src="/static/js/cartQuantity.js"></script>
 
<table class="container">
  <thead>
    <tr>
      <th>Image</th>
      <th>Name</th>
      <th>Price</th>
      <th>Quantity</th>
      <th>Action</th>
    </tr>
  </thead>
  <tbody>
    {% for item in data %}
    <tr>
      <td>{{ item[6] }}</td>
      <td>{{ item[2] }}</td>
      <td>{{ item[3] }}</td>
      <td>{{ item[5] }}</td>
      <td><button class="remove-from-cart-btn">Remove</button></td>
    </tr>
    {% endfor %}
  </tbody>
</table>

{% endblock %}


