{% extends 'base.html' %}
{% block title %}
Cart
{% endblock %}

{% block content %}

<div class="container mt-4">
  <div class="card">
    <div class="card-header">
      <h3>Your Cart</h3>
    </div>
    <div class="card-body p-0">
      <table class="table mb-0">
        <thead>
          <tr>
            <th></th>
            <th>Item</th>
            <th>Price</th>
            <th>Quantity</th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          {% for item in data %}
          <tr>
            <td><img src="{{ item['image'] }}" class = "cart-image" alt="Product Image"></td>
            <td>{{ item['name'] }}</td>
            <td>{{ item['price'] }}</td>
            <td>{{ item['quantity'] }}</td>
            <td><button class="remove-from-cart-btn"
              data-product-quantity="{{ item['quantity'] }}"
              data-product-id="{{ item['productid'] }}">
              Remove</button></td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
    <div class="card-footer d-flex justify-content-center">
      <button type="button" class="place-order-btn btn btn-primary">Place Order</button>
    </div>
  </div>
</div>

{% block footer %}
{% endblock %}

<script>

  // Remove item from cart
  document.querySelectorAll('.remove-from-cart-btn').forEach((button) => {
    button.addEventListener('click', () => {
      const productId = button.getAttribute('data-product-id');
      let cartQuantity = parseInt($('#cart-quantity').text());
      fetch('/api/remove_from_cart', {
        method: 'POST',
        headers: {
          'Content-Type': 'application/json'
        },
        body: JSON.stringify({
          productId: productId
        })
      })
      .then(response => {
        if (!response.ok) {
          throw new Error(response.statusText);
        }
        return response.json();
      })
      .then(data => {
        console.log(data.message);
        // Remove the row from the table
        button.closest('tr').remove();
        cartQuantity = cartQuantity - parseInt(button.getAttribute('data-product-quantity'));
        $('#cart-quantity').text(cartQuantity);
      })
      .catch(error => {
        console.error(error);
      });
    });
  });

  // Place order
  $(document).on('click', '.place-order-btn', function(event) {
      event.preventDefault();
      $.get('/api/place_order', function(response) {
          alert(response.message);
          $('#cart-quantity').text(0);
          window.location.href = '/';
      });
  });

</script>
{% endblock %}
