<!DOCTYPE html>
<html>
    <head>
        <title>
            Mariocart - Create Account 
        </title>

        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

        <link rel="stylesheet" href="/static/lib/bootstrap/bootstrap.min.css">
        <link rel="stylesheet" href="/static/css/base.css">

        <script src="/static/lib/jquery/jquery.min.js"></script>
        <script src="/static/lib/popper/popper.min.js"></script>
        <script src="/static/lib/bootstrap/bootstrap.min.js"></script>
        
       
        <script src="https://www.gstatic.com/firebasejs/9.4.0/firebase-app-compat.js"></script>
        <script src="https://www.gstatic.com/firebasejs/9.4.0/firebase-auth-compat.js"></script>
        <script src="https://www.gstatic.com/firebasejs/9.4.0/firebase-firestore-compat.js"></script>

        
    </head>

    <body>

        <div class="text-right" style="padding-top: 1rem; padding-right: 1rem;">
            <button id="close-button" type="button" class="btn-close" aria-label="Close" style="color: red; font-size: large;">&times;</button>
            <script type="text/javascript">
                document.getElementById("close-button").onclick = function () {
                    window.location.href = "/";
                };
            </script> 
        </div>

        <div class="text-center" style="padding-bottom: 2rem;">
            <a>Create Account</a>
        </div> 

        <section class="sign-in-or-create-account">

            <div class="text-center">
                <h1 class="jumbotron-heading">Mariocart</h1>
            </div>
                
            <div class="mx-auto" style="width: 300px; padding-top: 1.5rem;">
                <label>Username</label>
                <div class="input-group mb-3">
                    <div class="input-group-prepend">
                      <span class="input-group-text" id="basic-addon1"><img src="/static/img/icons/email.svg" style="width: 22px; height: 22px;"></span>
                    </div>
                    <input type="username" id="username-input" class="form-control" placeholder="Your Username">
                </div>

                <label>Email</label>
                    <div class="input-group mb-3">
                        <div class="input-group-prepend">
                          <span class="input-group-text" id="basic-addon1"><img src="/static/img/icons/email.svg" style="width: 22px; height: 22px;"></span>
                        </div>
                        <input type="email" id="email-input" class="form-control" placeholder="Your email address">
                    </div>
                
                <label>Password</label>
                <div class="input-group mb-3">
                    <div class="input-group-prepend">
                      <span class="input-group-text" id="basic-addon1"><img src="/static/img/icons/password.svg" style="width: 20px; height: 20px;"></span>
                    </div>
                    <input type="password" id="password-input" class="form-control" placeholder="Your password">
                </div>
                <label>Confirm Password</label>
                <div class="input-group mb-3">
                    <div class="input-group-prepend">
                      <span class="input-group-text" id="basic-addon1"><img src="/static/img/icons/password.svg" style="width: 20px; height: 20px;"></span>
                    </div>
                    <input type="password" class="form-control" placeholder="Your password">
                </div>

                <a>** some constraints **</a>
                <div class="text-center" style="padding-top: 1rem;">
                    <p>
                        <button id="back-btn" class="btn btn-secondary my-2 mr-2" style="width: 100px; font-size: small;">Back</button>
                        
                        <button id="save-btn" class="btn btn-secondary my-2 mr-2" style="width: 100px; font-size: small;">Save</button>
                    </p>
                    
                </div>
            </div>
            
        </section>

        <script type="text/javascript">
            document.getElementById("back-btn").onclick = function (e) {
                e.preventDefault();
                window.history.back();
            };
        </script> 

        <script type="module">
            
            import { initializeApp } from "https://www.gstatic.com/firebasejs/9.4.0/firebase-app.js";
            import { getDatabase, set, ref} from "https://www.gstatic.com/firebasejs/9.4.0/firebase-database.js";
            import { getAuth, createUserWithEmailAndPassword } from "https://www.gstatic.com/firebasejs/9.4.0/firebase-auth.js";
            
            const firebaseConfig = {
            apiKey: "AIzaSyAwqqos4PSHDSrZARh-wQtelr6kc4iiptI",
            authDomain: "mariocart-d7fe2.firebaseapp.com",
            databaseURL: "https://mariocart-d7fe2-default-rtdb.firebaseio.com",
            projectId: "mariocart-d7fe2",
            storageBucket: "mariocart-d7fe2.appspot.com",
            messagingSenderId: "1085313866628",
            appId: "1:1085313866628:web:6328cefb77856d5e751bd1"
            };
        
            // Initialize Firebase
            const app = initializeApp(firebaseConfig);
            const auth = getAuth();
            const db = getDatabase(app);

            const save = document.getElementById("save-btn");
            save.addEventListener("click", (e) => {

                const username = document.getElementById("username-input").value;
                const email = document.getElementById("email-input").value;
                const password = document.getElementById("password-input").value;

                createUserWithEmailAndPassword(auth, email, password)
                    .then((userCredential) => {
                        // Signed in 
                        const user = userCredential.user;

                        set(ref(db, 'users/' + user.uid), {
                            username: username,
                            email: email,
                            password: password
                        })
                        alert("User Created Successfully");
                        window.location.href = "/";
                        // ...
                    })
                    .catch((error) => {
                        const errorCode = error.code;
                        const errorMessage = error.message;

                        alert(errorMessage);
                        // ..
                    });
            });

        </script>

    </body>

</html>