<!-- Patel Niki, np873@drexel.edu
CS530: DUI, Assignment [1] -->

{% extends 'base.html' %}
{% set active = "Home" %}

{% block title %}
Home
{% endblock %}

{% block content %}


<p>
    <div class="jumbotron img">
        <img src="static/img/g2.jpeg" class="img-fluid rounded">
    </div>
</p>

<div class="deals">
    <h3>Top Deals </h3>

    <div class="row">
        <div class="col text-center">Hello</div>
        <span class="border border-dark"></span>
        <div class="col text-center">World</div>
        <span class="border border-dark"></span>
        <div class="col text-center">!!!</div>
        <span class="border border-dark"></span>
        <div class="col text-center">!!!</div>
    </div>
</div>

{% endblock %}